<nav class="navbar navbar-expand-lg navbar-dark height" style="background-color: black">
  <div class="container">
    <div class="text-white sidebar-heading nav-route" style="width:150px" routerLink="/">
      Virtual Bank Service
      <div class="underline" style="background-color: rgb(4, 0, 255)"></div>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.isTokenExpired()" routerLink="/core">Index</a>
        </li>
      </ul>
      <a class="nav-link" *ngIf="!authService.isTokenExpired()" href="/core?email={{authService.getEmail()}}&phone={{authService.getPhone()}}">Params</a>

      <ul class="navbar-nav w-100 justify-content-end">

        <span *ngIf="!isMobileView">
          <div class="nav-route" *ngIf="authService.isTokenExpired()" routerLink="login">
            Login
            <div class="underline">
            </div>
          </div>

          <div class="nav-route" routerLink="register" *ngIf="authService.isTokenExpired()" >
            Register
            <div class="underline">
            </div>
          </div>
        </span>

        <span *ngIf="isMobileView">
          <li class="nav-item active" *ngIf="authService.isTokenExpired()">
            <a class="nav-link" routerLink="login">Login</a>
          </li>

          <li class="nav-item active" *ngIf="authService.isTokenExpired()">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
        </span>
        <span style="font-size: 6px;color: yellow">0.1a</span>

        <span *ngIf="!authService.isTokenExpired() && isMobileView">

          <span *ngIf="authService.hasUserRole()">
            <li class="nav-item">
              <a class="nav-link" routerLink="core/bankAccounts">Moje konta<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Transfer
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="core/transactions/create">Transfer Standard</a>
                <a class="dropdown-item" routerLink="core/transactions/create/multicurrency">Transfer Multi-currency</a>
                <a class="dropdown-item" routerLink="core/transactions/defined">Transfers defined</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/exchange">Currency Exchange</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Credits
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="core/credits/create">New credit</a>
                <a class="dropdown-item" routerLink="core/credits/list">Credits history</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Deposits
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="core/investments/create">New deposit</a>
                <a class="dropdown-item" routerLink="core/investments/list">My deposits</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/support">Submissions</a>
            </li>
          </span>

          <span *ngIf="authService.hasAdminRole()">
            <li class="nav-item">
              <a class="nav-link" routerLink="core/admin/stat">Statistics</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/admin/employees">Employees</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/admin/stat">Statistics</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/admin/support">Submissions</a>
            </li>
          </span>

          <span *ngIf="authService.hasEmployeeRole()">
            <li class="nav-item">
              <a class="nav-link" routerLink="core/employee/payment/create">Deposits</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/employee/credits">Credits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="core/employee/support">Submissions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="core/profile">Profile</a>
            </li>
          </span>
        </span>

        <div class="nav-route" routerLink="/login" *ngIf="!authService.isTokenExpired()">
          Log out
          <div class="underline" style="background-color: red"></div>
        </div>

      </ul>

      <ul class="navbar-nav ml-auto">

      </ul>
    </div>
  </div>
</nav>
