<div>
    <form method="post" action="@Action">
        <div class="form-button-container">
            <MudIcon Class="form-icon" Icon="@Icon" />
            <button class="form-button" type="submit">@Text</button>
        </div>
    </form>
</div>

@code {
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Icon { get; set; }
}