<div class="box mat-elevation-z8">
    <mat-toolbar>
      Standard transfer
    </mat-toolbar>
    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="transactionForm">
            <form [formGroup]="transactionForm">
                <ng-template matStepLabel>Form</ng-template>
                <div class="row">
                    <div class="col-sm-12 mb-1">
                        Choose Bank account
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                        <mat-form-field style="width:100%">
                            <mat-label class="mt-2">Bank account</mat-label>
                            <mat-select formControlName="sourceAccountNumber" (change)="changeCurrencyList()">
                                <mat-option *ngFor="let bankAccount of bankAccounts; let i = index"
                                    [value]="bankAccount.number">
                                    <div class="bankAccount">
                                        <span class="accountNumber">{{bankAccount.number}} </span>
                                        <span class="balance">{{ getAvailableFunds(bankAccount) }}</span>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <hr>
                On Bill
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Recipient's account" formControlName="destinedAccountNumber"
                                required>
                            <mat-error *ngIf="transactionForm.get('destinedAccountNumber').hasError('accountNumber')">
                                Number must be <strong>26 characters</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                Sum</div>
                        </div>
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Sum" formControlName="balance" required>
                            <mat-error *ngIf="transactionForm.get('balance').hasError('required')">
                                Sum is <strong>required</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="transactionForm.get('balance').hasError('min') && !transactionForm.get('balance').hasError('required')">
                                Sum must be greater than <strong>0</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="transactionForm.get('balance').hasError('max') && !transactionForm.get('balance').hasError('required')">
                                Sum must me less than <strong>1000000</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                Title</div>
                        </div>
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Title" formControlName="title" required>
                            <mat-error *ngIf="transactionForm.get('title').hasError('required')">
                                Title is <strong>required</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="transactionForm.get('title').hasError('minlength') && !transactionForm.get('title').hasError('required')">
                                Title is too <strong>short</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="transactionForm.get('title').hasError('maxlength') && !transactionForm.get('title').hasError('required')">
                                Title is too<strong>long</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="transactionForm">
            <form [formGroup]="transactionForm">
                <ng-template matStepLabel>Summary</ng-template>
                <table class="table table-hover">
                    <tr>
                        <td class="divider">Bank account: </td>
                        <td>{{ transactionForm.get('sourceAccountNumber').value }}</td>
                    </tr>
                    <tr>
                        <td class="divider">Destination account: </td>
                        <td>{{ transactionForm.get('destinedAccountNumber').value }}</td>
                    </tr>
                    <tr>
                        <td class="divider">Sum: </td>
                        <td>{{ transactionForm.get('balance').value }} PLN</td>
                    </tr>
                    <tr>
                        <td class="divider">Title: </td>
                        <td>{{ transactionForm.get('title').value }}</td>
                    </tr>
                </table>
                <div>
                    <button mat-raised-button color="warn" class="mr-2" matStepperPrevious>Previous</button>
                    <button mat-raised-button color="primary" (click)="createTransaction()"
                        matStepperNext>Save</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>End</ng-template>
            <div *ngIf="!errors">Transaction completed</div>
            <div *ngIf="errors">
                <p class="text-danger">Transaction failed</p>
                <p>Error: {{ errorText }}</p>
            </div>
            <div>
                <button mat-button matStepperPrevious>Sending</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
