<div class="box mat-elevation-z8">
  <div *ngIf="bankAccounts">
    <mat-toolbar>
      New credit
      <fa-icon class="ml-2" matTooltip="Once a credit is created, it must be approved by the employee" [icon]="faQuestionCircle"></fa-icon>
    </mat-toolbar>
    <form [formGroup]="form">
      <div class="col-md-10">

        <div class="mt-2">Select Bank account</div>
        <mat-form-field style="width:100%">
          <mat-label>Bank account</mat-label>
          <mat-select [(ngModel)]="selectedBankAccount" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount">
              {{bankAccount.number}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        Target balance<span matTooltip="The bank account to which the cash will be transferred after the loan is approved"
                            aria-label="Tooltip">
                (?)</span>
        <mat-form-field style="width:100%">
          <mat-label class="mt-2">Balance</mat-label>
          <mat-select formControlName="destinedSaldoId" (selectionChange)="switchCurrencyType($event)">
            <mat-option *ngFor="let saldo of selectedBankAccount?.saldos" [value]="saldo.id">
              {{ saldo.currencyType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        Sum:
        <ng5-slider [(value)]="balanceSliderValue" formControlName="totalBalance"
                    (valueChange)="calculateInstallment($event)" [options]="balanceSlider"></ng5-slider>

        Number of deposits:
        <ng5-slider [(value)]="monthSliderValue" formControlName="totalInstallmentCount"
                    (valueChange)="calculateInstallment($event)" [options]="monthSlider"></ng5-slider>

        <div *ngIf="currencyType">
          Amount of one payment: {{ installmentValue | currency: currencyType }}
        </div>
      </div>

      <mat-divider></mat-divider>
      <mat-toolbar>
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="createCredit()">Save</button>
      </mat-toolbar>
    </form>
  </div>
  <div *ngIf="!bankAccounts">
    <mat-spinner></mat-spinner>
  </div>
</div>
